// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

.card_size {
	width: 18rem;
}

body {
	background-color: rgb(243, 243, 243) !important;
}

.navbar-custom {
    background-color: #ffe600
	;
}

.image-container {
    max-width: 10%;
    height: auto;
}
.image-container img {
    max-width: 100%;
    height: auto;
}
