// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

// Icons
@import '~/@fortawesome/fontawesome-free/scss/fontawesome';
@import '~/@fortawesome/fontawesome-free/scss/solid';

// Datatable
@import '~/datatables.net-bs5/css/dataTables.bootstrap5.min';

// Vue select
@import 'vue-select/dist/vue-select.css';

.card_size {
	width: 18rem;
}

body {
	background-color: rgb(243, 243, 243) !important;
}

.custom-yellow {
    background-color: #ffe600
	;
}

.image-container {
    max-width: 10%;
    height: auto;
}
.image-container img {
    max-width: 80%;
    height: auto;
}

// h1, h2, h3, h4, h5, h6 {
//     color: #2d3277; /* Replace with your custom color code */
// }
